{{ define "entry" }}
<!doctype html>
<html>
  {{ template "head" .Site }}
  <body>
    {{ template "header" .Site }}
    {{ with .Entry }}
      <h1>{{ .Title }}</h1>
      <div class="subtitle">
        <time>{{ .Date.Format "Jan 02, 2006" }}</time>
        <ul class="tags">
          {{ range .Tags }}
          <li><a href="/tags/{{ . }}">{{ . }}</a></li>
          {{ end }}
        </ul>
      </div>
      <div class="content">
        {{ .Content }}
      </div>
    {{ end }}
  </body>
</html>
{{ end }}
